<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Feedback Form</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Submit Feedback</h1>
        <form th:action="@{/user/feedback}" method="post">
            <label for="message">Feedback Message:</label>
            <textarea id="message" name="message" required></textarea>
            
            <button type="submit">Submit Feedback</button>
        </form>
    </div>
</body>
</html>
